### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### Logs ###
*.log

### Environment ###
.env

### OS ###
.DS_Store
Thumbs.db

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Gradle (just in case) ###
build/

### Misc ###
HELP.md
